<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Planet Express LMS</title>
    @RenderSection("ChartScripts", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Planet Express Learning Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" asp-page="dashboard/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" asp-page="profile/" >Profile</a>
                    </li>
                    <li>
                        @if (Model.user.IsInstructor)
                        {
                            <a class="nav-link text-dark" runat="server" asp-page="courses/" >Courses</a>
                        }
                    </li>
                    <li>
                        @if (!Model.user.IsInstructor)
                        {
                            <a class="nav-link text-dark" runat="server" asp-page="registerforclasses/" >Register for Classes</a>
                        }
                    </li>
                    <li>
                        @if (!Model.user.IsInstructor)
                        {
                            <a class="nav-link text-dark" runat="server" asp-page="Account/" >Account</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" asp-page="calendar/" >Calendar</a>
                    </li>
                </ul>
            </div>
            <div class="float-right">
                <ul class="navbar-nav flex-grow-1">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-5">

                        <ul class="navbar-nav ml-auto nav-flex-icons">

                            <li class="nav-item avatar dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="badge badge-danger ml-2">5</span>
                                    <i class="fa fa-bell"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                                    <a class="dropdown-item waves-effect waves-light" href="#">Alert 1 <button style="float:right; border:none; background:white">X</button></a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Alert 2 <button style="float:right; border:none; background:white">X</button></a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Alert 3 <button style="float:right; border:none; background:white">X</button></a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Alert 4 <button style="float:right; border:none; background:white">X</button></a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Alert 5 <button style="float:right; border:none; background:white">X</button></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" asp-page="login">Logout</a>
                    </li>
                </ul>                    
            </div>
        </div>
        <div class="navbar-brand">
            @if (Model.user.Image != null)
            {
                <img src="data:image/jpg;base64,@Html.Raw(Convert.ToBase64String(Model.user.Image))" alt="Profile Picture" height="100%" />
            }
            else
            {
                @*Display a default image*@
                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" height="100%" />
            }
            @Model.user.FirstName @Model.user.LastName
        </div>

    </nav>
</header>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Planet Express LMS - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
</html>
