@page "{id:int}"
@model CS3750_PlanetExpressLMS.Pages.Account.CoursesModel
@{
    ViewData["Title"] = "Courses";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Planet Express LMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Planet Express LMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" href="~/account/welcome/@Model.User.ID">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" href="~/account/profile/@Model.User.ID">Profile</a>
                    </li>
                    <li>
                        @if (Model.User.IsInstructor)
                        {
                            <a class="nav-link text-dark" runat="server" href="~/account/courses/@Model.User.ID">Courses</a>
                        }
                    </li>
                    <li>
                        @if (!Model.User.IsInstructor)
                        {
                            <a class="nav-link text-dark" runat="server" href="~/Registration/@Model.User.ID">Registration</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" href="~/account/calendar/@Model.User.ID">Calendar</a>
                    </li>
                </ul>
            </div>
            <div class="float-right">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" href="~/account/login">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="container">
        <main role="main" class="pb-3">

            <h1>Courses</h1>
            @foreach (var course in Model.UserCourses)
            {
                <div class="grid-container">
                    <div class="grid-item">
                        <b>Course Name</b>
                        <br />
                        @Html.DisplayFor(ModelItem => course.CourseName)
                    </div>
                    <div class="grid-item">
                        <b>Course Number</b>
                        <br />
                        @Html.DisplayFor(ModelItem => course.CourseNumber)
                    </div>
                    <div class="grid-item">
                        <b>Course Location</b>
                        <br />
                        @Html.DisplayFor(ModelItem => course.CourseLocation)
                    </div>
                    <div class="grid-item">
                        <b>Credit Hours</b>
                        <br />
                        @Html.DisplayFor(ModelItem => course.CreditHours)
                    </div>
                    <div class="grid-item">
                        <b>Course Times</b>
                        <br />
                        @Html.DisplayFor(ModelItem => course.Days)
                        <br />
                        @Html.DisplayFor(ModelItem => course.StartTime) - @Html.DisplayFor(ModelItem => course.EndTime)
                    </div>
                    <div class="grid-item">
                        <input type="submit" value="  Edit  " class="btn btn-primary" />
                        <br />
                        <input type="submit" value="Delete" class="btn btn-delete" />
                    </div>
                </div>
            }
            <hr />
            <h1>Create a Course</h1>
            <div>
                Dropdown for Department
                @*<div class="form-group">
                    <label asp-for="User.IsInstructor" class="control-label"></label>
                    <select asp-for="User.IsInstructor" class="control-label">
                        <option value="CS">Computer Science</option>
                        <option value="CHEM">Chemistry</option>
                        <option value="MATH">Math</option>
                        <option value="EEN">Electrical Engineering</option>
                        <option value="ENGL">English</option>
                    </select>
                    <span asp-validation-for="User.IsInstructor" class="text-danger"></span>
                </div>*@
            </div>
            <div class="form-group">
                <label asp-for="Course.CourseName" class="control-label"></label>
                <input asp-for="Course.CourseName" class="form-control" />
                <span asp-validation-for="Course.CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CourseNumber" class="control-label"></label>
                <input asp-for="Course.CourseNumber" class="form-control" />
                <span asp-validation-for="Course.CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CourseLocation" class="control-label"></label>
                <input asp-for="Course.CourseLocation" class="form-control" />
                <span asp-validation-for="Course.CourseLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CreditHours" class="control-label"></label>
                <input asp-for="Course.CreditHours" class="form-control" />
                <span asp-validation-for="Course.CreditHours" class="text-danger"></span>
            </div>
            <div>
                Days of the Week
            </div>
            <div>
                Start time
            </div>
            <div>
                End time
            </div>
            <div>
                Submit button
                *Logic to run checks. Make sure start time is before end time
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Planet Express LMS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>