@page "{courseID:int}"
@model CS3750_PlanetExpressLMS.Pages.CourseDetailModel
@{
    ViewData["Title"] = "CourseDetail";
    Layout = "Shared/_GeneralLayout.cshtml";
}
<div class="container">
    <div class="container">
        <main role="main" class="pb-3">
            @if (Model.User.IsInstructor)
            {
                <h1 class="page-title">Course Detail (Instructor)</h1>
                <hr />
            }
            else
            {
                <h1>Course Detail (Student)</h1>
            }
            <div class="grid-coursedetail-item">
                <h1>@Model.Course.CourseName</h1>
                <div>@Model.Course.Department @Model.Course.CourseNumber</div>
                <div>@Model.Course.CreditHours Credit Hours</div>
                <div>@Model.Course.CourseLocation</div>
                <div>@Model.Course.Days</div>
                <div>@Model.Course.StartTime.ToShortTimeString() - @Model.Course.EndTime.ToShortTimeString()</div>
            </div>
            <div class="grid-coursedetail-item">
                <h1>Assignments</h1>
                <button type="button" class="collapsible"><h6><b>+</b>Create Assignment</h6></button>
                <div class="content">
                    <form method="post">

                    </form>
                </div>
                @foreach (var a in Model.CourseAssignments)
                {
                    <ul>
                        <li>
                            <div class="grid-container">
                                <div class="grid-item">
                                    @Html.DisplayFor(ModelItem => a.Name)
                                </div>
                                <div class="grid-item">
                                    @Html.DisplayFor(ModelItem => a.SubmissionType)
                                </div>
                                <div class="grid-item">
                                    @Html.DisplayFor(ModelItem => a.PointsPossible)
                                </div>
                                <div class="grid-item">
                                    @Html.DisplayFor(ModelItem => a.OpenDateTime) - @Html.DisplayFor(ModelItem => a.CloseDateTime)
                                </div>
                            </div>
                        </li>
                    </ul>
                }
            </div>

        </main>
    </div>
</div>
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }



