@page  "{submissionId:int}"
@model CS3750_PlanetExpressLMS.Pages.GradeSubmissionModel
@{
    ViewData["Title"] = "Grade Submissions";
    Layout = "Shared/_GeneralLayout.cshtml";
}
<div class="container-fluid">
    <h2 class="page-title">
        <a asp-page="coursedetail/" asp-route-courseID="@Model.Assignment.CourseID">Course Details</a> >> <a asp-page="ViewSubmissions/" asp-route-assignmentId="@Model.Assignment.ID">Submissions</a> >> Grade Submission
    </h2>
    <hr />
    <h3 class="page-title">
        @Model.Student.FirstName @Model.Student.LastName's submission for @Model.Assignment.Name
    </h3>

    <div class="grid-grade-submission">
        <div class="col">
            <form method="post" asp-route-submissionId="@Model.Submission.ID">
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <br />
                    <input asp-for="Grade" /> / @Model.Assignment.PointsPossible
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Grade Assignment" />
                    <span class="text-danger">@Model.ErrorMessage</span>
                </div>
            </form>
        </div>
        <div class="col">
            @if (Model.Assignment.SubmissionType.Equals("TEXT"))
            {
                <b>Submission</b>
                <div class="border text-reader" >
                    <p>@Model.SubmissionText</p>
                </div>
            }
            else
            {
                <b>Submission</b>
                <div>
                    <a href="@Url.Page("GradeSubmission", "DownloadFile", new { submissionId = Model.Submission.ID })" class="btn btn-primary">Download</a>
                </div>                    
            }
        </div>
    </div>
</div>
