@page "{id:int}"
@model CS3750_A1.Pages.RegisterForClassesModel
@{
    ViewData["Title"] = "Register for Classes";
    Layout = "Shared/_GeneralLayout.cshtml";
}

    <div class="container">
        <main role="main" class="pb-3">

            <h1>Register for Classes</h1>
            <!--Display all courses-->
            <div class="grid-container">
                <div class="grid-item">
                    <b>Course Name</b>
                </div>
                <div class="grid-item">
                    <b>Course Number</b>
                </div>
                <div class="grid-item">
                    <b>Instructor</b>
                </div>
                <div class="grid-item">
                    <b>Course Location</b>
                </div>
                <div class="grid-item">
                    <b>Credit Hours</b>
                </div>
                <div class="grid-item">
                    <b>Course Times</b>
                </div>
            </div>
            @foreach (var c in Model.Courses)
            {
                <div class="grid-container">
                    <div class="grid-item">
                        @Html.DisplayFor(ModelItem => c.CourseName)
                    </div>
                    <div class="grid-item">
                        @Html.DisplayFor(ModelItem => c.Department)
                        @Html.DisplayFor(ModelItem => c.CourseNumber)
                    </div>
                    <div class="grid-item">
                        @Model.GetProfessorName(c.UserID);
                    </div>
                    <div class="grid-item">
                        @Html.DisplayFor(ModelItem => c.CourseLocation)
                    </div>
                    <div class="grid-item">
                        @Html.DisplayFor(ModelItem => c.CreditHours)
                    </div>
                    <div class="grid-item">
                        @Html.DisplayFor(ModelItem => c.Days)
                        <br />
                        @Html.DisplayFor(ModelItem => c.StartTime) - @Html.DisplayFor(ModelItem => c.EndTime)
                    </div>
                </div>
            }

        </main>
    </div>