@page 
@model CS3750_PlanetExpressLMS.Pages.RegisterForClassesModel
@{
    ViewData["Title"] = "Register for Classes";
    Layout = "Shared/_GeneralLayout.cshtml";
}

<h2 class="page-title">
    Enrollments
</h2>
<hr />

<!--Display all courses-->
<div class="grid-register-title">
    <div class="grid-item">
        <b>Course Name</b>
    </div>
    <div class="grid-item">
        <b>Course Number</b>
    </div>
    <div class="grid-item">
        <b>Instructor</b>
    </div>
    <div class="grid-item">
        <b>Course Location</b>
    </div>
    <div class="grid-item">
        <b>Credit Hours</b>
    </div>
    <div class="grid-item">
        <b>Course Times</b>
    </div>
</div>
@foreach (var c in Model.courses)
{
    <div class="grid-register">
        <h3 class="grid-item">
            @Html.DisplayFor(ModelItem => c.CourseName)
            <hr />
            @*If the student has already registered for a class, they can't register again, only drop!*@
            @if (Model.enrollments.Any(e => e.CourseID == c.ID))
            {
                <form method="post" asp-page-handler="Drop" asp-route-courseId="@c.ID">
                    <input type="submit" value="Drop" class="btn btn-delete" />
                </form>
            }
            else
            {
                <form method="post" asp-page-handler="Register" asp-route-userId=@Model.user.ID asp-route-courseId=@c.ID>
                    <input type="submit" value="Register" class="btn btn-primary" />
                </form>
            }
        </h3>
        <h6 class="grid-item">
            @Html.DisplayFor(ModelItem => c.Department)
            @Html.DisplayFor(ModelItem => c.CourseNumber)
        </h6>
        <h6 class="grid-item">
            @Model.GetProfessorName(c.UserID)
        </h6>
        <h6 class="grid-item">
            @Html.DisplayFor(ModelItem => c.CourseLocation)
        </h6>
        <h6 class="grid-item">
            @Html.DisplayFor(ModelItem => c.CreditHours)
        </h6>
        <h6 class="grid-item">
            @Html.DisplayFor(ModelItem => c.Days)
            <br />
            @Html.DisplayFor(ModelItem => c.StartTime) - @Html.DisplayFor(ModelItem => c.EndTime)
        </h6>
    </div>
}